version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yaml:ro
      - prom_data:/prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yaml
      - --storage.tsdb.retention.time=15d
      - --web.enable-lifecycle
    networks: [ observ ]

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - graf_data:/var/lib/grafana
      - ./prometheus/datasource.yaml:/etc/grafana/provisioning/datasources/datasource.yaml:ro
    depends_on: [ prometheus ]
    networks: [ observ ]

networks:
  observ:

volumes:
  prom_data:
  graf_data:
